.detail {
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #d5d2df;
}

.detail img {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 300px;
  width: 100%;
  margin-right: 30%;
  margin-left: 40%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail .detail__title,
.detail .detail__year {
  margin: 0;
  font-weight: 300;
}

.detail .detail__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #dfdfdf;
}

.detail .detail__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.detail__genres li,
.detail .detail__year {
  margin-right: 10px;
  font-size: 14px;
}
